.list-menu{
    display: none;
}

.icon-menu{
    display: block;
}

.toggle-menu{
    display: none;
}










@media (min-width:992px) { /*992이상일때*/
    .list-menu{ /*리스트가 보여짐*/
        display: block;
    }
    .icon-menu{ /*아이콘이 가려짐*/
        display: none;
    }
}

@media (max-width:992px) { /*992미만일때*/
    .toggle-menu{
        display: block;
    }
}