.abc{
    display: flex;
    justify-content: center;
}

.a{
    width:100px;
    height:100px;
    margin:10px;
    background-color: yellow;
}

.b{
    width:100px;
    height:100px;
    margin:10px;
    background-color: yellow;
}

.c{
    width:100px;
    height:100px;
    margin:10px;
    background-color: yellow;
}

@media (min-width:700px) {
    .abc{
        display: block;
    }    
    .a{
        margin: 10px;
    }
    .b{
        margin: 10px;
    }
    .c{
        margin: 10px;
    }
}

/*
이거실습해보기
flex-direction : row; 행
flex-direction : column; 열

*/