header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    padding:0px 10px 0px 10px;
    color:white;
}

h1{
    width:100px;
    text-align: center;
}

a{
    text-decoration-line:none;
    margin:5px;
    color:white;
}

.bi{
    color:white;
}

.list-menu{
    display: none;
}

.icon-menu{
    display: block;
}

.d-none{
    display: none;
}

.toggle-menu-container{
    background-color: rgb(187, 149, 223);
    display: flex;
    flex-direction:column;
}


@media (min-width:992px) { /*992이상일때*/
    .list-menu{ /*리스트가 보여짐*/
        display: block;
    }
    .icon-menu{ /*아이콘이 가려짐*/
        display: none;
    }

    .toggle-menu{
        display: none;
    }

}

